{{#unless noLabelWrap}}
  {{#if label}}
    {{em-label text=label viewName=labelViewName}}
  {{/if}}
{{/unless}}
{{#if controlWrapClass}}
  <div {{bind-attr class=controlWrapClass}}>
    {{#if yieldLabel}}
      {{view controlView viewName=controlViewName property=propertyName}}
      {{label}}
    {{/if}}
  </div>
{{else}}
  {{view controlView viewName=controlViewName property=propertyName}}
{{/if}}
{{#if needValidation}}
  {{#if hasError}}
    <span class="help-block">{{errorMsg}}</span>
  {{/if}}
{{/if}}
